[2020-06-21 04:29] fabads opened #3 "ToggleSwitch height"
Hello,

Is there any way to control the height of the toggle switch ? I would like to set the same height as for other action chips I have also on the screen.

[2020-06-22 16:18] PramodJoshi commented on #3
@fabads Yes, you can simply place `ToggleSwitch` in a `Container` and give it a height as shown below,

[code]

**Screenshot:**

![screenshot](https://user-images.githubusercontent.com/17320471/85310850-218b2b80-b47a-11ea-9ec6-5fb7d116a699.png)

[2020-06-27 02:43] fabads commented on #3
Thank you very much @PramodJoshi for the hint, it works fine (in my case, wanted to reduce the size).

[2020-06-27 02:43] #3 closed

[2020-07-07 11:44] Tushar-OP opened #4 "Cannot create switch without labels"
Whenever the labels is null, it throws an error saying

`
The getter 'length' was called on null.
Receiver: null
Tried calling: length
`

I only want icons in the switch

[2020-07-18 19:51] PramodJoshi commented on #4
@Tushar-OP You should be able to achieve that with `labels: ['', '']` for now (screenshot below). I'll try to add a check in next version.

<img width="326" alt="Screen Shot 2020-07-18 at 2 50 46 PM" src="https://user-images.githubusercontent.com/17320471/87860818-2373cd80-c906-11ea-9dcd-4972d7522d8c.png">

[2020-07-20 23:37] #4 closed

[2020-07-20 23:39] PramodJoshi commented on #3
FYI, `minHeight` is not available in `toggle_switch: "^0.1.5"`. Cheers!

[2020-07-22 12:23] AravinthSri opened #5 "How To Customized TextStyle"
Kindly guide me to update textstyle.

[2020-07-22 14:55] PramodJoshi commented on #5
@AravinthSri You can use `activeFgColor` and `inactiveFgColor` to change the text color and `fontSize` to change the text size but other stylings are not possible at the moment. I'm currently working on this and will be available soon. The idea was to make this widget as simple as possible.

[2020-08-04 10:34] ikicodedev opened #6 "Make optional color configuration parameters"
By default, it would be nice if you took the theme colors.

[2020-08-05 15:26] robertsLando opened #7 "How to change value programmatically"
How do I update the toggleswitch programmatically?

I have tried using `ValueListenableBuilder` and changing `initialLabelIndex` but I wonder if there could be a better way, also this seems that isn't always working

[2020-08-05 16:21] PramodJoshi commented on #7
@robertsLando Could you post a complete runnable code of what you're trying to achieve? If you're using `StatefulWidget`, `setState` is the key when assigning new value.

[2020-08-05 16:23] PramodJoshi commented on #6
@ikicodedev I think that's a good idea. I'll look into this and get back to you. Thanks!

[2020-08-05 17:00] robertsLando commented on #7
But the question is even if I use setState is initialValue the only one property I can use to programmatically select a value of the switch?

[2020-08-05 17:04] robertsLando commented on #7
I try to explain my use case, When the user press on a item of the toggleswitch I send a value to a backend, if the backend server doesn't answer in 2 seconds I have to set the toggleswitch to it'a previous value, how would you do that in a efficent way? Would you add a property "state" to the state of the statefull widget and change it using setstate? Isn't this a performance killer as it require

[2020-08-05 18:07] PramodJoshi commented on #7
Regarding your first question, you should be able to change all the values and not just `initialLabelIndex`.

Regarding your second question, i'm not sure how you are making server call but my suggestion would be to use `setState` after you get an answer from your server and display a loading dialog or message until then if it takes too long. Could look something like below,

[code]

[2020-08-05 22:01] PramodJoshi commented on #6
This is now available in `0.1.6`. Cheers!

[2020-08-06 07:43] robertsLando commented on #7
Maybe I explained it wrong, I mean if there is any other option or else to control the toggle switch selection.

I did it, and also tried by using ValueListenableBuilder and a notifier, I'm still not able to set the selection programmatically, It only works when I set it by tapping

[2020-08-06 08:18] robertsLando commented on #7
Even if the `initialValue` changes it is only applied the first time, after the first initialization even if I use the `ValueListenableBuilder` or the `setState` method it won't change.

[2020-08-06 08:37] robertsLando commented on #7
[this](https://github.com/PramodJoshi/toggle_switch/blob/master/lib/toggle_switch.dart#L92) part of the code is never reached when you change the initialValue

[2020-08-06 08:39] robertsLando commented on #7
It works in this way:

[code]

[2020-08-06 15:19] #7 closed

[2020-08-06 15:21] robertsLando commented on #7
@PramodJoshi Thanks to you for this package :pray:

[2020-08-07 16:45] FiifiB opened #9 "padding of icons"
There seems to be no padding of the icons so they are very close to the edge. See image attached

![image](https://user-images.githubusercontent.com/4690372/89668455-c25b6c00-d8ab-11ea-8e3b-c0c77fc67ce5.png)

[2020-08-07 17:56] #6 closed

[2020-08-07 20:51] PramodJoshi commented on #9
@FiifiB Good catch, thank you for reporting. This is now fixed in [db9bd83](https://github.com/PramodJoshi/toggle_switch/commit/db9bd836b2b1edd4848f83d7051f967d2364221a).

[2020-08-10 19:43] #9 closed

[2020-08-11 11:32] Awaydrasil opened #10 "Read-only toggle switch"
Hi, is there a way to disable the toggle switch ?
Thanks

[2020-08-11 14:25] PramodJoshi commented on #10
@Awaydrasil Yes, please use `changeOnTap: false`.

[2020-08-11 15:20] #10 closed

[2020-08-24 15:56] jogee opened #11 "setState in onToggle doesn't switch without showing an error"
When doing a setState() in the onToggle() function, suddenly it doesn't switch to the other value anymore but no error is occurring. Even the state value is switching properly but the view doesn't get updated.

Everything works fine until I try to add some state, what am I doing wrong?

Best regards.

[2020-08-24 16:58] PramodJoshi commented on #11
Hi @jogee , could you please provide runnable code and `toggle_switch` version you're currently using?

[2020-08-24 17:21] jogee commented on #11
Using version 0.1.8

It occurs with empty setState.

`import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';
import 'package:toggle_switch/toggle_switch.dart';

class App extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      home: MyScreen(),
    );
  }
}

class MyScreen extends StatefulWidget {
  @override
  _MyScreenS

[2020-08-24 17:56] PramodJoshi commented on #11
`setState` rebuilds and assigns same `initialLabelIndex` which in your case is '0'. You'll need to assign dynamic index to `initialLabelIndex` when using `setState` as shown below,

[code]

![giphy](https://user-images.githubusercontent.com/17320471/91079132-42eace00-e609-11ea-9caa-7e58355db455.gif)

[2020-08-25 08:15] jogee commented on #11
Ah that was the missing piece, many thanks!

[2020-08-25 08:15] #11 closed

[2020-08-31 22:59] alirezat66 opened #12 "Border color and width"
I think it is very good to possible this feature for set border color and width.

[2020-09-01 15:10] PramodJoshi commented on #12
@alirezat66 Thank you for posting this suggestion. I'll add this to my enhancement lists and prioritize it based on the interests.

[2020-09-01 16:37] Kraakhoofd opened #13 "Vertical positioning and wrapping to new line"
Two requests:

- Items are now layed out horizontally. Ability to lay out vertically would be nice
- Being able to wrap text label to a newline, e.g. by inputting a String "line 1 \n line2".
Or, if the buttons don't fit horizontally (i.e. the text is cut off to text....), make it possible for the buttons to go to a new line. For example, 7 horizontal buttons would then wrap to 4 and 3 buttons over

[2020-09-02 17:34] PramodJoshi commented on #13
Thank you @Kraakhoofd for posting this suggestion . I'll add this to my list of enhancements.

[2020-09-07 21:43] alirezat66 commented on #12
I solve it , if you want I share my code to you.

On Tue, Sep 1, 2020 at 7:40 PM Pramod Joshi <notifications@github.com>
wrote:

--
regards
AliReza Taghizadeh

[2020-09-09 17:40] PramodJoshi commented on #12
@alirezat66 That's great. Feel free to submit a PR with your changes (only the main.dart file) if you want. Please make sure to keep the code clean with comments and dart code format. Nice work!

[2020-09-14 21:45] alirezat66 commented on #12
@PramodJoshi hi I sent PR

[2020-09-23 07:25] tajjacob opened #15 "Change State of toggle"
What's up bro..
I'm try to change state of toggle.
Somehow the active background color is not working.
Maybe you can help.

`    onToggle: (index) {
                  print('switched to: $index');
                  setState(() {
                    changeLanguage = index;
                  });
                },`

[2020-09-25 19:04] PramodJoshi commented on #15
@tajjacob Hi, i believe this is similar to [11](https://github.com/PramodJoshi/toggle_switch/issues/11). Could you please take a look and see if the example i provided resolves your issue? If not, please provide a runnable code so that i can test on my end.

[2020-09-26 13:23] tajjacob commented on #15
Thanks brother! it works like a charm! God bless you!

[2020-09-28 15:06] PramodJoshi commented on #15
Great!

[2020-09-28 15:06] #15 closed

[2020-10-02 00:46] Ismaeils opened #17 "Toggle doesn't switch(visually) because of notiftListeners()"
I'm using provider and i'm a value of a listened-on property. Somehow, notifyListeners() seems to disable the color changing of the buttons. It still functional in the back-end though, just the appearance of the switch doesn't change when notifyListeners is called.

![err1](https://user-images.githubusercontent.com/29382335/94876718-cf827a80-0458-11eb-8515-482654d7ff24.PNG)
![err2](https://user-im

[2020-10-02 13:42] Ismaeils commented on #17
After reviewing the issue at [https://github.com/PramodJoshi/toggle_switch/issues/11](url)
It turned out that in order for a state to change, i must use initialLabelIndex and assign it to a value that is also changed from the provider interface.

![err3](https://user-images.githubusercontent.com/29382335/94929757-d0052a80-04c5-11eb-93b0-7aef3b502e0a.PNG)
![err4](https://user-images.githubuserconte

[2020-10-02 13:42] #17 closed

[2020-10-14 12:21] gseront opened #18 "Toogle not happening when putting setState inside onToggle"
When I put a set state inside the onToggle handle although the index is changing, visually there is not toggle.
If I do not put the setState the switch toggle visually.

[2020-10-14 13:58] PramodJoshi commented on #18
Hi @gseront , i think this is similar to [11](https://github.com/PramodJoshi/toggle_switch/issues/11). Please take a look and let me know if that solves your issue.

[2020-10-22 13:27] #18 closed

[2020-10-26 22:14] didierboka opened #19 "Toggle don't work when setstate call in toggle callback"
When try to change dynamically a widget state (ex: Visibility status)  and try to call setstate function in toggle callback,  the widget Visibility status work fine but toggle not change color.

[2020-10-26 22:20] #19 closed

[2020-10-29 15:28] Work90210 commented on #19
@didierboka How was this fixed?

[2020-11-17 16:56] zigoval commented on #19
https://github.com/PramodJoshi/toggle_switch/issues/11

It's not a bug, more like... missing documentation :)
                  ToggleSwitch(
                    initialLabelIndex: level,
                    activeBgColor: Colors.deepPurpleAccent,
                    minWidth: 100,
                    labels: [
                      'Niveau 1',
                      "Niveau 2",

[2020-11-18 00:26] didierboka commented on #19
It fixed ! Thanks you !
*Serges Didier BOKA* *| Android Apps Developer*
Abidjan - Côte d'Ivoire
Tel. : 57 18 79 63
e-mail : *didierboka1@gmail.com <didierboka1@gmail.com>*

Le mar. 17 nov. 2020 à 17:56, zigoval <notifications@github.com> a écrit :

[2020-11-23 08:57] ancileddu opened #20 "animated transition"
hi all, is it possible to have an animated transition when change from a button to another? thanks

[2020-11-23 14:27] PramodJoshi commented on #20
Hi, it's not possible at the moment but i'll take a look. Do you have an example?

[2020-11-23 17:19] frozencodeuz opened #21 "Cannot use setState in onToggle"
I wanted to use setState with toggle switch setState is working fine but toggle not changing any solution for this?

[2020-11-24 16:50] PramodJoshi commented on #21
@frozencodeuz Hi, i believe this is similar to [11](https://github.com/PramodJoshi/toggle_switch/issues/11). Could you please take a look and see if the example i provided resolves your issue? If not, please provide a runnable code so that i can test on my end.

[2020-11-30 16:50] #21 closed

[2021-01-20 17:08] nbnD opened #22 "Long labels showing only some letters"

[2021-01-31 23:50] mandolf0 opened #23 "changeOnTap` is not triggering the UI to update on my stateful widget"
Hello.
I am trying to get a toggle widget above a scrolling list.

`changeOnTap` is not triggering the UI to update on my stateful widget. It is working a a stateless one though.

[code]

[2021-02-02 01:42] mandolf0 commented on #23
The problem seems to stem from having too many parent widgets above the toggle_switch.

Scaffold body: Container>Column>toggle_wtich does the trick.
`import 'package:flutter/material.dart';
import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:toggle_switch/toggle_switch.dart';

class ToggleDemo extends StatefulWidget {
  @override
  _ToggleDemoState createState() => _To

[2021-02-02 01:42] #23 closed

[2021-02-25 22:35] DEEPJYOTSINGHKAPOOR opened #25 "Toggle On Left Not Changing BgColor in 1 click ?"

[2021-02-26 15:34] PramodJoshi commented on #25
@DEEPJYOTSINGHKAPOOR Could you please provide a runnable code so that i can create the issue on my end? Also, this could be similar to [11](https://github.com/PramodJoshi/toggle_switch/issues/11) but i'd know more when i see your code.

[2021-02-27 17:03] DEEPJYOTSINGHKAPOOR commented on #25
Thanks, its the same issue.

[2021-02-27 17:03] #25 closed

[2021-03-22 16:49] PramodJoshi commented on #22
@nbnD toggle_switch is designed for short text options. It wraps text to prevent the overflow and maintain consistency. You can try increasing your `minWidth` and depending on your device size and available width space, it should display more/all characters.

[2021-03-22 16:51] #22 closed

[2021-03-30 13:24] Umar-Khan-Yousafzai opened #26 "SetState Switch wrong values on mistouch."
Hi, I found this package to be very amazing but there is a strange issue that I just noticed. I saw that setState wasn't working at first in the switch. Luckily I found the example on this page. But there's is something I just noticed.

Let's say we have two values [User, Service Provider]

Now I have radiovalue variable set to 0.

      onToggle: (val){
                            print(radioval)

[2021-03-30 14:12] Umar-Khan-Yousafzai commented on #26
**In the original example of setState the author used the approach below**

class _MyScreenState extends State<MyScreen> {
  int initialIndex = 0;
  @override
  Widget build(BuildContext context) {
    return Scaffold(
        body: Container(
            margin: EdgeInsets.only(top: 30.0),
            child: ToggleSwitch(
                initialLabelIndex: initialIndex,
                labels: ['

[2021-03-31 09:15] Umar-Khan-Yousafzai commented on #26
hi pramod. Thanks Well, this is very strange as it wasn't working as intended on my side, I have the same versions as you

[2021-03-31 15:09] PramodJoshi commented on #26
Interesting. I'll leave this issue open for now. Thanks.

[2021-04-01 16:56] kcnypmek commented on #11
Is there a possibility to get 2 continuous rows of toggle switches?
If no,is there a possibility to disable initialIndex (no buttons selected at the start)?

[2021-05-04 02:24] vegeta-ssaiyan opened #27 "Feature Request"
Hi Pramod, thanks for creating this!

Just a qtn, can we decide the number of rows?

Context: I have 2 rows of options for users to choose from. I could do a separate toggle switch for 2 created rows, but I reckon it would be harder to store the printed value as I want them to choose only one choice.

it would be better if the toggle switch could allow 2 rows in the same widget and they just choos

[2021-05-04 02:38] vegeta-ssaiyan commented on #27
Also Pramod, is there a way to change the margins between the options? I've placed the whole widget in a constraint box to limit its size, but the content still overflows, was thinking of changing the margins but idt there's this option available.

[2021-05-07 00:24] PramodJoshi commented on #27
Hi @vegeta-ssaiyan , unfortunately, it's not possible to create two rows or change margins atm. I'm currently working on multiple rows feature. Regarding overflow issue, it should automatically resize to prevent overflows based on your device width and you shouldn't need additional constraint box. Could you please post a screenshot and basic runnable code to create the issue?

[2021-05-08 14:09] vegeta-ssaiyan commented on #27
Thank you Pramod, all good now, no worries!

[2021-05-08 14:09] #27 closed

[2021-05-25 20:59] rmControls commented on #20
Yep, I also looking this feature....

[2021-06-07 08:42] nikhilmufc7 commented on #26
Can confirm I can replicate this issue,
My form has a textfield along with toggle switch so here are the steps to reproduce:
1. Select a new value using toggle switch
2. Tap on a textfield with switches focus and changes state. On changing state the toggle switch goes back to its initial value
if you are not able to reproduce I can help with a minimum reproducable example if needed

[2021-06-07 14:21] PramodJoshi commented on #26
@nikhilmufc7 Could you please post a complete runnable example?

[2021-06-07 17:46] PramodJoshi commented on #12
@Babwenbiber unfortunately, i was unable to merge submitted PR for this feature (check my comments in PR). However, this feature will be included in the next version.

[2021-06-08 18:35] nikhilmufc7 commented on #26
@PramodJoshi I have added a example here where you can reproduce the issue https://gist.github.com/nikhilmufc7/a355ba0c031a7f7a4a32b6c2a28f8e65

Steps change the value of the toggle switch
type something in the textfield and select ok or done using keyboard or change the focus

the toggle switch value goes back to default.
Let me know if you need anything else, cheers!

[2021-06-08 21:57] PramodJoshi commented on #26
@nikhilmufc7 Your example is different from what OP described. In your case, you're not saving your index. Please read/follow the example provided here - [setState inside onToggle](https://github.com/PramodJoshi/toggle_switch/issues/11#issuecomment-679277018)

Closing this.

[2021-06-08 21:57] #26 closed

[2021-06-09 18:36] PramodJoshi commented on #20
@ancileddu @rmControls good news! basic animation is now available in `toggle_switch: ^1.0.0+1`.

**Default animation:**
[code]

**Custom animation:**
[code]

Also, please check examples for more info.

Cheers!

[2021-06-09 18:38] PramodJoshi commented on #12
@alirezat66 @Babwenbiber border color and width options are now available in `toggle_switch: ^1.0.0+1`. Please check examples for more info. Cheers!

[2021-06-09 18:38] #12 closed

[2021-06-09 18:38] #20 closed

[2021-06-11 22:34] FRANIAZA opened #28 "Make icons optional"
Hi, I am trying to create a 3-switch-button. All three switches have labels. I would like to have icons on the first and last witch, but not on the middle one.
It seems that currently this cannot be achieved. It would be a very nice enhancement :)

[2021-06-12 18:47] PramodJoshi commented on #5
@AravinthSri  Good news! `customTextStyles:` option is now available in `toggle_switch: ^1.1.0` . Please check examples for more info. Cheers!

[2021-06-12 18:50] PramodJoshi commented on #28
@FRANIAZA great suggestion! This is now available in `toggle_switch: ^1.1.0` . You can just pass in `null` where you don't want to display icon e.g. `icons: [Icons.add, null, Icons.remove]` . Also, please check examples for more info. Cheers!

[2021-06-14 14:50] #28 closed

[2021-06-14 14:54] #5 closed

[2021-06-17 13:03] NatsuOnFire opened #29 "Add customIconStyles"
Can you add "customIconStyles" which is the same as "customTextStyles" but for icons ?

[2021-06-21 16:32] PramodJoshi commented on #29
@NatsuOnFire `customIcons:` option is now available in `toggle_switch: ^1.2.0` . Please check examples for more info.

[2021-06-21 16:43] NatsuOnFire commented on #29
Thanks, it works perfectly

[2021-06-21 16:43] #29 closed

[2021-06-30 06:43] ali-1989 opened #30 "(radiusStyle: false) does not work when textDirection is set to TextDirection.rtl"
Hello,
I upgraded to the new version, in the new version all the buttons are rounded at the borders.
radiusStyle: false has no effect !!

I mean the connection border between the two buttons. Not like before.
![d8d18130-d5a2-42b9-af18-a2b552f7bd35](https://user-images.githubusercontent.com/30122089/123914070-3c995100-d994-11eb-9e92-83efbf44372a.png)

[2021-06-30 15:00] PramodJoshi commented on #30
@ali-1989, i was unable to reproduce this issue with 1.2.0. Could you please post a minimum runnable code to reproduce this? Also, just to confirm few things, please post toggle_switch version you're using as well as flutter doctor -v.

[2021-07-02 02:28] ali-1989 commented on #30
Hi,

I use : toggle_switch: ^1.2.0

flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 2.2.2, on Microsoft Windows [Version 10.0.10240], locale fa-IR)
[√] Android toolchain - develop for Android devices (Android SDK version 30.0.0r4)
[√] Chrome - develop for the web
[√] Android Studio (version 4.0)
[√] IntelliJ IDEA Ultimate Edition (version 202

[2021-07-04 16:51] PramodJoshi commented on #30
Hi @ali-1989 , unfortunately, i'm still unable to reproduce this issue. Seems to be working fine as expected. Here's my test video,

[![Test video](https://user-images.githubusercontent.com/17320471/124392847-2c97af00-dcbd-11eb-9920-7739e6dbe45e.png)](https://drive.google.com/file/d/1ThOMOtQgnTtpoo18QP8q8vOamRKHRlkb/view?usp=sharing "Test Video")

You can try few things:
- flutter clean
- `radiusS

[2021-07-04 23:57] akashlilhare opened #31 "toogle shitch is not loading properly"
I am using the example code but getting this strange effect. Currently, I using this version  toggle_switch: ^1.2.0

` ToggleSwitch(
              minWidth: 90.0,

              initialLabelIndex: 1,
              cornerRadius: 20.0,
              activeFgColor: Colors.white,
              inactiveBgColor: Colors.grey,
              inactiveFgColor: Colors.white,
              totalSwitches: 2,

[2021-07-05 15:48] PramodJoshi commented on #31
Hi @akashlilhare , please post a complete runnable code (not just ToggleSwitch portion) so that i can recreate this issue.

This could be due to your parent widget that's enclosing ToggleSwitch.

[2021-07-05 18:08] akashlilhare commented on #31
I am using this as a separate widget and calling it inside ListView. After updating with the latest version of the package I am facing this issue. Previously it was working fine.

[code]

[code]

this is the output for the above code

![Screenshot_20210705-224307 (1)](https://user-images.githubusercontent.com/39927872/124506520-71206900-dde9-11eb-9846-4d01083bb443.png)

[2021-07-06 14:43] ali-1989 commented on #30
Hi again.
I realized that in `TextDirection.rtl `mode
 This happens.

if i set TextDirection.ltr that is ok, but on TextDirection.rtl mode is not.

[2021-07-06 15:56] PramodJoshi commented on #30
Could you please post a complete runnable code to reproduce this issue?

[2021-07-06 18:15] PramodJoshi commented on #31
All child widgets are expanded by default in `ListView` (not just `ToggleSwitch`). To fix this, you can simply enclose your child widget in ListView with `Align` like so,

[code]

[2021-07-06 19:51] ali-1989 commented on #30
issue if:

[code]

[2021-07-08 17:44] akashlilhare commented on #31
That was a silly mistake from my side. Thanks for cooperating with me.

[2021-07-08 17:44] #31 closed

[2021-07-28 19:42] QuentinSc opened #32 "Allow custom animation duration"
Hello,

Thank you for your work.
Why there is no parameter to customize the animation duration ?
https://github.com/PramodJoshi/toggle_switch/blob/8f5c80bed5fd815507cdb83922bd3d0ea3aba3a1/lib/toggle_switch.dart#L298

[2021-07-29 23:25] PramodJoshi commented on #32
Hi, the idea was to keep it simple but seems like making it customizable would make more sense. I'll add this in the next release. Cheers.

[2021-08-13 17:03] jose-mendes opened #33 "Working fine with two switches but not with three!"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Complete runnable code to reproduce the bug/issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional information**
- `toggle_switch` version
- `flutter doctor -v`
- Any other addit

[2021-08-13 17:10] jose-mendes commented on #33
Hello,

I'm having a strange problem. Using 3 switches only works the first two! Is this supposed to happen?

Code
        ToggleSwitch(
              initialLabelIndex: eixosinitindex,
              cornerRadius: 20.0,
              fontSize: 12.0,
              activeBgColors: [[Colors.black54], [Colors.black54]],
              activeFgColor: Colors.white,
              inactiveBgColor: Colors.g

[2021-08-13 17:55] jose-mendes commented on #33
OK. Found out what's the problem! Only have two activebgcolor...
Corrected. Problem solved.

[2021-08-14 00:40] #33 closed

[2021-08-25 06:13] nurbek-b opened #34 "Allow initialLabelIndex to be updateable."
When you write any action to onToggle, activeBgColor is not changing to toggled label.

[code]
Expecting activeBgColor is moving to toggled label.

- `toggle_switch` version: ^1.2.0
- `flutter doctor -v`:

[code]

[2021-09-08 16:22] PramodJoshi commented on #34
Closing this for now.

[2021-09-08 16:22] #34 closed

[2021-09-17 11:38] UmairSaqibBhutta opened #36 "Switches not working properly"
**Describe the bug**
The toggle button does not switch if changed two times before.

**To Reproduce**
`ToggleSwitch(
              animate: true,
              changeOnTap: !isPaymentMethodAdded,
              totalSwitches: 2,
              activeBgColor: const [whiteblueColor],
              inactiveFgColor: Colors.white,
              minWidth: screenSize.width * .3,
              labels: const

[2021-09-19 17:28] PramodJoshi commented on #36
Hi, please provide a complete/minimum runnable code. I won't be able to debug with just the ToggleSwitch portion above. Also, this sounds like [issue 11](https://github.com/PramodJoshi/toggle_switch/issues/11#issuecomment-679277018) which i have included in README. Please check it out if you haven't already and let me know if that fixes the issue.

[2021-10-05 06:37] Hiteshc29 opened #37 "Not able to set null to initialLabelIndex"
Need to set null at initialLabelIndex so that at initial none option is selected

[2021-10-06 12:39] UmairSaqibBhutta commented on #36
Yes, the issue is the same as for issue 11 for I am closing it.
Thanks for support.

[2021-10-06 12:39] #36 closed

[2021-10-09 22:26] PramodJoshi commented on #37
I'll add this in the next version. Thanks for bringing it up.

[2021-10-11 14:31] Shashwat-111 opened #38 "Different width of each switch."
Not able to give different width to each button. My tabs name are like "SMS", "Clarification", "Feedback"...but SMS text take up the same space as Clarification, which I don't want

[2021-10-29 09:14] wytex opened #40 "SetState doesn work onToogle Switch"
I am trying to use setState in onToogle but it doesnt work.

[2021-10-31 19:13] PramodJoshi commented on #40
Please check the README for an example.

[2021-10-31 19:13] #40 closed

[2021-11-01 07:38] itaishalom commented on #37
@PramodJoshi Done. Please take a look. When do we expect the new release?

[2021-11-02 01:45] PramodJoshi commented on #37
This has been added to v1.3.0. Cheers!

[2021-11-02 01:45] #37 closed

[2021-11-02 01:46] PramodJoshi commented on #32
This has been added to v1.3.0. Cheers!

[2021-11-02 01:46] #32 closed

[2021-11-08 16:55] itaishalom opened #42 "Is it ok to use this library on other library which I'll publish?"

[2021-11-10 19:39] PramodJoshi commented on #42
Sure.

[2021-11-10 19:39] #42 closed

[2021-11-16 11:44] itaishalom opened #43 "onToggle returns wrong value when doubleTapDisable is true."
Should return null but returns previous value.
I'll fix it and PR you.

[2021-11-16 11:58] itaishalom commented on #43
PR is waiting

[2021-11-16 11:58] #43 closed

[2021-11-21 15:39] itaishalom opened #45 "Waiting for PR.."
Need it ASAP.
Thanks

[2021-11-22 19:40] faiz-is commented on #11
on tap passing value index from list is that possible ?

[2021-11-27 23:06] westekim commented on #38
This would be great! Using it for a case where the options are "No", "?", "Yes" (in different languages so might be longer than 3 letters), with the default being the "?". Having the "?" being more narrow would be nice.

[2021-11-29 11:48] LucaSappey opened #46 "My toggleSwitch doesn't switch and my setstate doesn't work"
**Describe the bug**
When I click on the ToggleSwitch, nothing switch, but my index are good when I print it

**To Reproduce**
[code]
**Expected behavior**
I expected to see the switch between Apple and Play Store and to see the image change with it

**Additional information**

 toggle_switch: ^1.3.0

[✓] Flutter (Channel unknown, 2.0.6, on macOS 12.0.1 21A559 darwin-arm, locale fr-FR)
    • Flutt

[2021-12-01 16:54] brucevang commented on #13
Quick workaround for now. To use vertically, I'm using the rotate widget. You're be limited to using custom SVG icons that are rotated 90 degrees though.

[2021-12-12 08:12] Saddi993 commented on #46
toggle will fire event on every click ... i have handle this condition by below code

[code]

[2021-12-28 20:40] MauroDiamantino opened #47 "Is there a way to center labels?"
Hi, I would like to center labels in a toogle_switch widget, but I haven't found a parameter to do that. Is there a way to do what I want?

Maybe if parameter `labels` type is changed from `List<String>` to `List<Text>`, it would be possible to center the labels. What do you think?

[2021-12-29 15:48] PramodJoshi commented on #46
@LucaSappey please check **setState inside toggle** example in README.  Let me know if that fixes the issue.

[2021-12-29 15:54] PramodJoshi commented on #47
@MauroDiamantino labels should be centered by default as shown in the examples.

[2021-12-29 15:55] PramodJoshi commented on #45
On it. Sorry for the delay. Thanks!

[2021-12-29 15:55] #45 closed

[2021-12-29 16:59] itaishalom commented on #45
Thank you!

[2021-12-29 19:17] LucaSappey commented on #46
Sorry guys that was on me. I initialized my boolean (showQrCode) in my build method. Now that I did it outside, this is working.
Thank you very much for your answers <3

[2021-12-29 19:17] #46 closed

[2022-01-02 08:57] itaishalom commented on #45
But the PR is still open..?

[2022-01-05 02:06] brandoneedyou opened #48 "transparent inactiveBgColor with colored border"
Just try the code below:

ToggleSwitch(
            initialLabelIndex: 0,
            totalSwitches: 3,
            borderWidth: 1,
            borderColor: const [Colors.white],
            labels: const ['aaa', 'bbb', 'ccc'],
            activeBgColor: const [Colors.white],
            activeFgColor: const Color(0xfff11fab),
            inactiveBgColor: Colors.transparent,
            inactiveFg

[2022-01-11 03:36] ali-1989 commented on #30
My friend, do not you want to solve this problem?

[2022-01-22 17:08] PramodJoshi commented on #48
@brandoneedyou Sorry for the delayed response. Seems like all your primary colors are white as well as inactiveBgColor is transparent. I'd suggest using darker inactiveBgColor (e.g. Colors.blueGrey) to make your widget element visible as shown in the screenshot below.

<img width="270" alt="Screen Shot 2022-01-22 at 12 08 20 PM" src="https://user-images.githubusercontent.com/17320471/150648527-3c3

[2022-01-22 17:31] #47 closed

[2022-01-22 19:28] PramodJoshi commented on #30
@ali-1989 Apologies for the delay. I think i know what's causing this issue and i'm trying to find an elegant way to resolve this. I'll keep you posted.

[2022-01-23 18:08] PramodJoshi commented on #30
Hi, i've added a fix to resolve this. Please use the latest version `toggle_switch: ^1.4.0` and set `textDirectionRTL: true`. Also, please check the example with explanation in README. Cheers!

[2022-01-23 18:09] PramodJoshi commented on #38
@Shashwat-111 @westekim this is now available in `toggle_switch: ^1.4.0` . Cheers!

[2022-01-23 18:50] westekim commented on #38
Perfect! Thanks!
And confirmed that it does work exactly as I wanted it to.

[2022-01-24 08:15] itaishalom opened #49 "Border around toggle?"
Hi, do you think that a border around the selected side of the toggle only, is possible?

[2022-01-24 14:45] #38 closed

[2022-01-24 14:49] PramodJoshi commented on #49
Hi Itai, I think that's a great idea and should be possible. I'll look into it as soon as i get chance. Thanks.

[2022-01-24 16:17] itaishalom commented on #49
You want me to PR you? Maybe I'll get to it first.

[2022-01-25 14:43] PramodJoshi commented on #49
Sure, that'd be great. Thanks!

[2022-01-26 03:16] PhilipPurwoko commented on #22
Should provide overflow customization. For example if I want to make it `overflow.clip` instead of elipsis (default)

[2022-01-26 15:10] PramodJoshi commented on #22
@PhilipPurwoko good idea. I'll make this a part of `customTextStyles` and add it to the next version.

[2022-01-27 03:02] foraixh opened #50 "do not limit the maximum width"
Have you thought about not limiting the maximum width? Allow user to customize width with horizontal swipe view? Because as an individual developer, sometimes it is hard to replace text with icons, which will cause the text to automatically collapse, which is silly. Thank you very much if you can.
![image](https://user-images.githubusercontent.com/39892450/151284344-8de50940-ca09-48ac-b68b-30f122e

[2022-02-02 17:19] #30 closed

[2022-02-02 17:20] #48 closed

[2022-02-17 14:10] itaishalom commented on #49
Done it. Can you check my PR @PramodJoshi ?

[2022-02-25 08:51] ali-1989 commented on #30
Hi, Thanks. yes in new version  it is solved.

[2022-03-13 08:02] sajidbarcha opened #54 "onToggle's returned index is nullable on Macbook but non-nullable on PC"
I notice that the index returned by onToggle is nullable (int?) when I open the same project on Macbook Air, and not nullable (int) on PC. Is it a known difference or a deliberate difference between the two, I am not sure why this woud be the case.
Toggle Switch 1.4.0

The Toggle switch was not showing any errors when I was assigning this index to a non-nullable int local variable on my Lennovo PC

[2022-03-13 08:10] sajidbarcha commented on #54
I deleted pubspec.lock and reran pubspec.yaml and now both platforms show nullable index. Closing the issue.

[2022-03-13 08:10] #54 closed

[2022-04-07 05:07] itaishalom commented on #49
Any chance of pub dev release soon?

[2022-04-12 08:35] AliPunjabi commented on #5
I think inactiveFgColor will not works if we use customTextStyle, am I right?, Its is clear from your example as well as I checked it by my ownself, inactivefgcolor is not working.

[2022-04-13 19:12] PramodJoshi commented on #5
@AliPunjabi correct. inactiveFgColor is ignored when using customTextStyle

[2022-04-15 21:48] PramodJoshi commented on #13
@Kraakhoofd vertical toggle switch is now available in `toggle_switch: ^2.0.1`. I will look into request # 2 as soon as i get a chance. Cheers!

[2022-04-15 21:52] PramodJoshi commented on #49
Available in `toggle_switch: ^2.0.1`

[2022-04-15 21:52] #49 closed

[2022-04-15 21:53] PramodJoshi commented on #50
@foraixh you should now be able to use customWidths without restriction in `toggle_switch: ^2.0.1` . Cheers!

[2022-04-15 21:53] #50 closed

[2022-04-16 17:16] itaishalom commented on #49
ohhhh Thank you!

[2022-05-08 09:28] RebecaMPS opened #55 "Toggle dowsn't switch (visually) if there is a "SetState()" inside "onToggle""
**Describe the bug**
A clear and concise description of what the bug is.
I need to change the value of a variable (to show/hide options) when the user presses the Toggle.

**To Reproduce**
Complete runnable code to reproduce the bug/issue.

               ToggleSwitch(
                      minWidth: 150,
                      initialLabelIndex: 0,
                      totalSwitches: 2,

[2022-05-08 09:45] RebecaMPS commented on #55
this can be solucionate assign your variable to initialLabelIndex

ToggleSwitch(
                  minWidth: 150,
                  initialLabelIndex: faceToFace,
                  totalSwitches: 2,
                  labels: const ['FACE-TO_FACE', 'NON-FACE-TO_FACE'],
                  onToggle: (index) {
                    print('switched to: $index');
                    setState(() {

[2022-05-08 09:45] #55 closed

[2022-05-10 08:49] Joezzy opened #56 "setState function doesnot work with the toggle"
**Describe the bug**
Sample code

[code]
the right index is printed but the Active color doesnot change

[2022-05-25 16:11] tickets14 commented on #56
I'm also experiencing this bug.

[2022-05-25 17:33] alvarosantisteban opened #57 "Switch not displayed when only one border side is desired (activeBorders)"
**Describe the bug**
Borders seem to be only displayed when the four sides of it are not `BorderSide.none`. Not only that, but they need to have the same width and color.

**To Reproduce**

// This works
`activeBorders: [Border(bottom: BorderSide(width: 16.0, color: Colors.purple), right: BorderSide(width: 16, color: Colors.purple), left: BorderSide(width: 16.0, color: Colors.purple), top: BorderS

[2022-05-26 10:07] Joezzy commented on #56
create an "int" variable  and save the selected index in it.

say:

int selectedIndex=0;

ToggleSwitch(
                  minWidth: double.infinity,
                  minHeight: MySize.size40,
                  fontSize: 16.0,
                  initialLabelIndex: selectedIndex,
                  activeBgColor: [AppTheme.ovaOrange],
                  activeFgColor: Colors.white,
                  i

[2022-06-04 05:26] nathantew14 commented on #56
This is a nice workaround, thanks. I feel like this should be considered a bug though. Makes no sense for `setState` to reset the selected index to the initial index.

[2022-06-06 14:32] mayur-holo opened #59 "Option to disable click of toggle event when clicking on same status"
**Current Behaiour!**
When I am clicking on The same state which the toggle button is, it is firing event.

**What should happen?**
There should be an option to disable event firing on clicking of same toggle button.

[2022-06-09 00:21] nathanblanchard12 opened #60 "Safari (I can't toggle on Safari)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Complete runnable code to reproduce the bug/issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional information**
- `toggle_switch` version
- `flutter doctor -v`
- Any other addit

[2022-06-09 00:22] nathanblanchard12 commented on #60
I am using toggle version ^1.3.0.

[2022-06-20 07:36] baptistesx opened #61 "Allow RichTitle or Widget for labels"
Hi!

I need to implement this design:
![image](https://user-images.githubusercontent.com/9638281/174548945-2602a874-72de-4e7b-a649-db6a40b761ce.png)

I think with the current lib, I cannot right? Maybe allowing a List<Widget> for tabs or at least List<RichText> might get the trick done, what do you think?

Also maybe I should create a new issue about the possibility of disableling a tab (see my sc

[2022-07-25 18:03] PavelTurk opened #62 "How to add TextField between two switches?"
I need to do the following:

![Screenshot from 2022-07-25 20-59-55](https://user-images.githubusercontent.com/10261361/180843712-90762ae6-a72f-4411-95a6-37a2bf17a879.png)

By other words only one of two switches can be selected and there must be a TextField between them. Can it be done with toggle_switch? If yes, could anyone show how to do it?

[2022-07-30 15:18] PramodJoshi commented on #56
Anyone experiencing this issue, please read **setState() inside onToggle** portion of the README.

[2022-07-30 15:18] #56 closed

[2022-07-30 15:47] PramodJoshi commented on #59
I'll add this to my list of enhancements.

[2022-07-30 16:13] PramodJoshi commented on #62
Hi @PashaTurok, this is not possible with toggle_switch. I'm assuming you're trying to increase or decrease the TextField value when you tap the '-' or '+' button. I'd suggest using a Row of regular buttons and TextField for this.

[2022-07-30 16:28] PramodJoshi commented on #61
Hi @baptistesx, that's right. The current version of toggle_switch does not support subtitles but I'm currently exploring some options to add custom widgets.

Regarding the option to disable a switch, please create a new issue with a short description and label it as an enhancement.

[2022-07-30 17:07] PramodJoshi commented on #60
Hi @nathanblanchard12, please try the latest version - `toggle_switch: ^2.0.1`. Post a complete runnable code if you still experience the issue.

[2022-07-30 17:16] PramodJoshi commented on #57
Hi @alvarosantisteban, sorry for the delayed response. I'll take a look and get back to you.

[2022-07-31 12:27] #62 closed, assigned to nobody

[2022-08-04 21:18] baptistesx opened #63 "Allow disable tab"
It would be nice to be able to disable a switch value like this:

![image](https://user-images.githubusercontent.com/9638281/182954511-5ba1ee96-8846-4e5e-bfe1-49bc01835d38.png)

[2022-09-07 08:54] ryanheitner opened #64 "Allow Custom Font Style but still respect activeFgColor and inactiveFgColor"
**Is your feature request related to a problem? Please describe.**
I would like a custom font that changes color on active and inactive.

**Describe the solution you'd like**
              textStyle = widget.customTextStyles!.length == 1
                      ? widget.customTextStyles![0]!
                      : (widget.customTextStyles!.length > index ~/ 2 &&
                              widget

[2022-09-17 16:52] Aljnk commented on #64
Same request - very important thing as for me.

[2022-09-26 05:18] IshaanKarnik opened #65 "How to deselect the selected option (switch) programmatically?"
In my application I have to deselect the currently selected option (switch).
The event of deselecting the currently selected option (switch) is decided by another widget.
How can I programmatically deselect the selected option (switch)

[2022-10-06 06:45] pishguy opened #66 "expanding the view"
how can i expand this library width as screen width size? or is any solution to expanded that?

[2022-10-08 16:26] PramodJoshi commented on #65
Hi, this is not possible atm, sorry.

[2022-10-08 16:26] #65 closed

[2022-10-14 17:36] vasilich6107 opened #67 "Allow intialValueIndex to be null"
Hi @PramodJoshi
Thanks for your package

**Is your feature request related to a problem? Please describe.**
There is no way to make switch unselected when displaying empty form

**Describe the solution you'd like**
Allow to set `intialValueIndex` to `null`

**Describe alternatives you've considered**
No alternatives for now.

**Additional context**
no

[2022-10-14 18:24] PramodJoshi commented on #67
Hi @vasilich6107 , this is already available. Please check the README example titled **With custom text styles, null initial label, double tap to de-activate** .

[2022-10-15 17:13] #67 closed, assigned to nobody

[2022-10-18 19:20] Hanzyusuf commented on #66
I have made a commit which seems to work well for me:
#69

[2022-11-03 17:09] khoadng opened #70 "Last switch item is always stretched to full width inside CustomScrollView"
**Describe the bug**
When used inside `CustomScrollView`, last item in the switch always expand to full width.

**To Reproduce**
[code]

**Expected behavior**
It shouldn't stretch the last item

**Screenshots**

![simulator_screenshot_BE797BAD-61FA-44B2-92C1-677AE93A17F1](https://user-images.githubusercontent.com/19619099/199783844-ad84e4d6-226c-4a8d-91c0-14f28837a0d7.png)

**Additional informatio

[2022-11-03 17:18] khoadng commented on #70
Wrapping `ToggleSwitch` inside `Center` somehow fixed it.

I don't know if the above solution is an intended behavior or just a workaround so I will keep this issue open.

[2022-11-10 13:45] simphiwehlabisa opened #71 "Swipe Feature"
**Additional context**
It would be nice to have a swipe function, especially if only two options are available

![swipe](https://user-images.githubusercontent.com/12032477/201107503-8fb57aef-8443-44d7-94c5-dcdb1c6d3174.png)